<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.AgriBuhayProj.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/agribuhay_launcher_nobackgroundnotext"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/agribuhay_launcher_nobackgroundnotext"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"

        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:ignore="ExtraText">
        // TODO android:configChanges="orientation|screenSize"

        <activity
            android:name="com.AgriBuhayProj.app.Printer.ProducerPrintOrder"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.AgriBuhayProj.app.LogisticsProductPanel.Logistics_ShippingOrder"
            android:label="Ship Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.LogisticsProductPanel.LogisticsShipOrderView"
            android:label="Ship Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.LogisticsProductPanel.LogisticsPendingOrderView"
            android:label="Pending Orders" />
        <activity android:name="com.AgriBuhayProj.app.Logistics_ProductPanelBottomNavigation" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_SendOtp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Logistics_registration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.ProducerPreparedOrderView"
            android:label="Prepared Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.ProducerPreparedOrder"
            android:label="Prepared Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.ProducerOrdertobePrepareView"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.ProducerOrderTobePrepared"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerPaymentOTP"
            android:label="Online Payment" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerOnlinePayment"
            android:label="Online Payment" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerPayment"
            android:label="Payable Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.PayableOrders"
            android:label="Payable Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.PendingOrders"
            android:label="Pending Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.Producer_Order_Products"
            android:label="Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerPhoneSendOTP"
            android:label="Mobile Number" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerPhonenumber"
            android:label="Mobile Number" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerForgotpassword"
            android:label="Password" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel.RetailerPassword"
            android:label="Password" />
        <activity android:name="com.AgriBuhayProj.app.RetailerProductPanel.OrderProduct" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.Update_Delete_Product"
            android:label="Home" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel.Producer_PostProduct"
            android:label="Post Product" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerProductPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerProductPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name="com.AgriBuhayProj.app.MainMenu"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Producersendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Producerloginphone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.sendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerVerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerLogin"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ChooseOne"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Producer_Registration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Registeration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Printer.DeviceListActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity
            android:name="com.AgriBuhayProj.app.MainActivity"
            android:theme="@style/AppThemeNoActionbar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.AgriBuhayProj.app.SendNotification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.AgriBuhayProj.app.SendNotification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>